<footer class="foot">
   <div class="container">
      <h2 class="foot__title">
         свяжитесь с нами
      </h2>
      <div class="foot__wrap">
         <div class="foot__col">
            <div class="item">
               <h3 class="item__title"><i class="fico fico-place"></i>адрес</h3>
               <p class="item__content">Киев, 03115, Украина <br> ул. Туполева, 18</p>
            </div>
         </div>
         <div class="foot__col">
            <div class="item">
               <h3 class="item__title"><i class="fico fico-place"></i>телефон</h3>
               <a href="tel:+380441234567" class="item__content link">+38 (044) 123-45-67</a>
            </div>
            <div class="item">
               <h3 class="item__title"><i class="fico fico-place"></i>факс</h3>
               <a href="tel:+380441234567" class="item__content link">+38 (044) 123-45-67</a>
            </div>
         </div>
         <div class="foot__col">
            <div class="item">
               <h3 class="item__title"><i class="fico fico-place"></i>e-mail:</h3>
               <a href="mailto:info@company.com
               " class="item__content link">info@company.com
               </a>
            </div>
         </div>
      </div>
      <div class="foot__copyright">
         <span class="text">© 1998-2018</span>
         <div class="wrap">
            <span class="text">Design & Development by</span>
            <i class="icon icon-apelsin"></i>
         </div>
      </div>
   </div>
</footer>