<header class="header">
   <a href="#" class="callback">обратный звонок</a>
   <div class="container">
      <nav class="nav nav--top">
         <a href="#" class="nav__link nav__link--active">Чартеры</a>
         <a href="#" class="nav__link">Покупка/продажа</a>
         <a href="#" class="nav__link">Менеджемент ВС</a>
         <a href="#" class="nav__link">Авиационный консалтинг</a>
         <a href="#" class="nav__link">Услуги</a>
         <a href="#" class="nav__link">О компании</a>
         <a href="#" class="nav__link">Контакты</a>
         <a href="#" class="nav__link nav__link--active">En</a>
      </nav>
      <nav class="nav nav--bottom">
         <a href="#" class="nav__link">Бизнес чартеры</a>
         <a href="#" class="nav__link">Групповые чартеры</a>
         <a href="#" class="nav__link">Грузовые чартеры</a>
         <a href="#" class="nav__link">Медицинские чартеры</a>
         <a href="#" class="nav__link nav__link--active">Empty <br>Legs</a>
         <a href="#" class="nav__link">Вертолеты</a>
      </nav>
      <h1 class="header__title">рейсы empty legs</h1>
      <div class="wrap clear">
         <p class="desc">Когда компания Company организует чартерный перелет в один конец, то зачастую самолет при
            возвращении на свою базу или при продолжении перелета в другое место летит пустым. Такие рейсы известны в
            нашем бизнесе как "Empty Legs".</p>
         <a href="#" class="link">актуальные рейсы</a>
      </div>
      <p class="text">Ниже приведен список Empty Legs, актуальных на текущий момент. Для получения информации выберите
         мышкой понравившийся Empty Leg или же подпишитесь на информационную рассылку и получайте каждую неделю
         электронную почту с кратким обзором всех Empty Legs, появившихся за последние 7 дней.</p>
      <p class="text">Этот список, конечно, не является исчерпывающим, поэтому, если вы не находите подходящего Empty
         Leg на этой странице, свяжитесь с нашими специалистами напрямую и передайте им информацию о ваших регулярных
         маршрутах. Мы свяжемся с вами, как только какой-либо из ваших маршрутов станет доступен.</p>
      <p class="text">Ниже приведен список Empty Legs, актуальных на текущий момент. Для получения информации выберите
         мышкой понравившийся Empty Leg или же подпишитесь на информационную рассылку и получайте каждую неделю
         электронную почту с кратким обзором всех Empty Legs, появившихся за последние 7 дней.</p>
   </div>
</header>