<section class="schedule">
   <div class="container">
      <h2 class="schedule__title">актуальные рейсы</h2>
      <h3 class="flights">расписание</h3>
      <table class="table">
         <thead>
            <tr>
               <th>EMPTY LEGS</th>
               <th>Дата вылета</th>
               <th>самолет</th>
               <th>заказ</th>
            </tr>
         </thead>
         <tbody class="table__body">
            <tr>
               <td class="route">Los Angeles - Teterboro</td>
               <td class="date">28 февраля 2018 года</td>
               <td class="plane">LearJet 45 XR</td>
               <td><a href="#" class="js_order">ЗАКАЗАТЬ рейс</a></td>
            </tr>
            <tr>
               <td class="route">Boca Raton - West Chicago</td>
               <td class="date">28 февраля 2018 года</td>
               <td class="plane">LearJet 40</td>
               <td><a href="#" class="js_order">ЗАКАЗАТЬ рейс</a></td>
            </tr>
            <tr>
               <td class="route">Los Angeles - Teterboro</td>
               <td class="date">28 февраля 2018 года</td>
               <td class="plane">LearJet 60 XR</td>
               <td><a href="#" class="js_order">ЗАКАЗАТЬ рейс</a></td>
            </tr>
            <tr>
               <td class="route">Boca Raton - West Chicago</td>
               <td class="date">01 марта 2018 года</td>
               <td class="plane">Global 5000</td>
               <td><a href="#" class="js_order">ЗАКАЗАТЬ рейс</a></td>
            </tr>
            <tr>
               <td class="route">Los Angeles - Teterboro</td>
               <td class="date">02 марта 2018 года</td>
               <td class="plane">Challenger 300</td>
               <td><a href="#" class="js_order">ЗАКАЗАТЬ рейс</a></td>
            </tr>
            <tr>
               <td class="route">Boca Raton - West Chicago</td>
               <td class="date">03 марта 2018 года</td>
               <td class="plane">Challenger 850</td>
               <td><a href="#" class="js_order">ЗАКАЗАТЬ рейс</a></td>
            </tr>
            <tr>
               <td class="route">Los Angeles - Teterboro</td>
               <td class="date">04 марта 2018 года</td>
               <td class="plane">P.180 Avanti II</td>
               <td><a href="#" class="js_order">ЗАКАЗАТЬ рейс</a></td>
            </tr>
            <tr>
               <td class="route">Boca Raton - West Chicago</td>
               <td class="date">04 марта 2018 года</td>
               <td class="plane">LearJet 45 XR</td>
               <td><a href="#" class="js_order">ЗАКАЗАТЬ рейс</a></td>
            </tr>
            <tr>
               <td class="route">Los Angeles - Teterboro</td>
               <td class="date">05 марта 2018 года</td>
               <td class="plane">LearJet 40</td>
               <td><a href="#" class="js_order">ЗАКАЗАТЬ рейс</a></td>
            </tr>
            <tr>
               <td class="route">Boca Raton - West Chicago</td>
               <td class="date">07 марта 2018 года</td>
               <td class="plane">LearJet 60 XR</td>
               <td><a href="#" class="js_order">ЗАКАЗАТЬ рейс</a></td>
            </tr>
            <tr>
               <td class="route">Los Angeles - Teterboro</td>
               <td class="date">07 марта 2018 года</td>
               <td class="plane">Global 5000</td>
               <td><a href="#" class="js_order">ЗАКАЗАТЬ рейс</a></td>
            </tr>
            <tr>
               <td class="route">Boca Raton - West Chicago</td>
               <td class="date">07 марта 2018 года</td>
               <td class="plane">Challenger 300</td>
               <td><a href="#" class="js_order">ЗАКАЗАТЬ рейс</a></td>
            </tr>
            <tr>
               <td class="route">Los Angeles - Teterboro</td>
               <td class="date">09 марта 2018 года</td>
               <td class="plane">Challenger 850</td>
               <td><a href="#" class="js_order">ЗАКАЗАТЬ рейс</a></td>
            </tr>
            <tr>
               <td class="route">Boca Raton - West Chicago</td>
               <td class="date">10 марта 2018 года</td>
               <td class="plane">P.180 Avanti II</td>
               <td><a href="#" class="js_order">ЗАКАЗАТЬ рейс</a></td>
            </tr>
         </tbody>
      </table>
      <div class="button"><a href="#" class="schedule__btn">еще рейсы</a></div>
   </div>
</section>