<section class="step">
   <div class="container">
      <div class="wrap">
         <div class="wrap__item">
            <h4 class="title">Большая экономия</h4>
            <p class="text">Ваша экономия до 75% от стоимости обычного чартера</p>
         </div>
         <div class="wrap__item">
            <h4 class="title">Широкий выбор</h4>
            <p class="text">Empty Legs - широкий спектр частных воздушных судов</p>
         </div>
         <div class="wrap__item">
            <h4 class="title">Актуальная информация</h4>
            <p class="text">Информация регулярно обновляются на нашем веб-сайте</p>
         </div>
         <div class="wrap__item">
            <h4 class="title">Оповещение клиентов</h4>
            <p class="text">Наши специалисты известят вас, как только появится ваш маршрут</p>
         </div>
      </div>
   </div>
</section>