// TYPOGRAPHY styles

+font('PFDinDisplayPro', 'PFDinDisplayPro-Bold')
// +font('PFDinDisplayPro', 'PFDinDisplayPro-Medium')
+font('PFDinDisplayPro', 'PFDinDisplayPro-Regular')
+font('PFDinDisplayPro', 'PFDinDisplayPro-Thin')

@font-face
	font-family: 'PFDinDisplayPro'
	src: url('../fonts/PFDinDisplayPro-Medium.woff') format('woff'), url('../fonts/PFDinDisplayPro-Medium.ttf') format('truetype'), url('../fonts/PFDinDisplayPro-Medium.svg#PFDinDisplayPro-Medium') format('svg')
	font-weight: normal
	font-style: normal


@font-face
	font-family: 'PFDinDisplayPro'
	src: url('../fonts/PFDinDisplayPro-Medium.eot')
	src: url('../fonts/PFDinDisplayPro-Medium.woff2') format('woff2'), url('../fonts/PFDinDisplayPro-Medium.eot?#iefix') format('embedded-opentype')
	font-weight: normal
	font-style: normal



// END: TYPOGRAPHY styles
